body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header{
  position: fixed;
  background: #22242A ;
  padding: 20px;
  width: 100%;
  height: 40px;
}
.left_area h3{
  color: #fff;
  margin-left: 500px;
  float: center;
  padding-bottom:36px;
  margin-bottom:-10px;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 900;
}

.left_area span{
  color:#19B3D3;
}
.left_area{
  margin: -20px;
  padding-top:-20px;
}

.right_area{
  padding: 1px;
  text-decoration: none;
  float: right;
  margin-top: -40px;
  margin-right: 40px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}
.search{
  margin: -25px;
  margin-right:4px;
  border-radius:200px;
  height: 20px;

}

.logout_btn{
  margin: -3px;
  padding: 1px;
  background:yellow;
  text-decoration: none;
  float: right;
  margin-top: -5px;
  margin-right: 40px;
  border-radius: 100px;
  font-size: 15px;
  font-style: italic;
  color: black;
  transition: 0.5s;
  transition-property: background;

}

.logout_btn:hover{
  background: red;
}

.sidebar {
  background: #2f323a;
  margin-top: 80px;
  padding-top: 20px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  opacity:.8;
}
.sidebar .profile_image{
  width: 120px;
  height: 120px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}
.sidebar a:hover{
  background: #19B3D3;

}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color:red;
}

#check:checked ~ .sidebar{
  left: -190px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}

.content{
  background: url(clouds2.jpg) no-repeat;
  background-position: center;
  background-size:cover;
  height: 110vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check{
  display: none;
}
.mp3{
  margin-left: 400px;
  font-style: italic;
  font-size:10px;

}
#bs{
  font-size: 100px;
  height: 100px;
  margin-left: 400px;

}
.more{
  padding: 10px;
}
.more a{
  margin-left: 600px;
  text-decoration: none;
    text-align: center;
}

.Home{
  margin-left:1150px;
}
.a{
  text-decoration: none;
  font-size: 25px;
  color: white;
  font-weight: bold;
}
.manu{

  margin-left: 230px;

  padding-top:-10px;
}
.manu ul li li:hover{
  background-color: green;
}

ul{
  margin: 0px;
  padding:0px;
  list-style: none;
  opacity:.8;
}
ul li{
  float:left;
  width: 220px;
  height: 40px;
  background-color: black;
  color: white;
  line-height: 40px;
  font-size: 15px

}
ul li a{
  display:block;
  text-decoration: none;
  color: white;
  text-align:center;
}

ul li a:hover{
  background-color:#19B3D3 ;
}
ul li ul li{
  display:none;
}
ul li:hover ul li{
  display:block;
}
ul li i{
  padding: 10px;
}
